  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />  
  <link rel="stylesheet" href="/css/free.min.css?livereload=1574867372890" media="all">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda" />
  <link rel="stylesheet" type="text/css" href="{{ "css/styles.css" | relURL}}" />
  <!-- code highlight start -->
  <link href="/css/monokai.min.css" rel="stylesheet">
  <!-- code highlight end -->
  {{- range .Site.Params.customCSS -}}
    <link rel='stylesheet' href='{{ . | absURL }}'>
  {{- end -}}