<script src="https://utteranc.es/client.js"
    repo="{{ .Site.Author.github }}/{{ .Site.Author.repo }}"
    issue-term="pathname"
    theme="github-light"
    crossorigin="anonymous"
    async>
</script>
{{ if not .Params.meta }}
<section class="post-nav">
    <ul>
        {{ with .PrevInSection }}
        <li>
            <a href="{{.Permalink}}"><i class="fa fa-chevron-circle-left"></i> {{ .Title }}</a>
        </li>
        {{ end }}
        {{ with .NextInSection }}
        <li>
            <a href="{{.Permalink}}">{{ .Title }} <i class="fa fa-chevron-circle-right"></i> </a>
        </li>
        {{ end }}
    </ul>
</section>
    {{ if .Site.DisqusShortname }}
        {{ partial "disqus" . }}
    {{ end }}
{{ end }}
